body{
    
  background-image: url('https://freepngimg.com/thumb/coffee/61917-coffee-espresso-bean-beans-images-cafe-transparent.png');
  background-repeat: repeat-x;
  background-position: top left;
}
#time-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    max-width: 400px;
  
    h1 {
      font-size: 24px;
      margin-bottom: 10px;
    }
  
    p {
      font-size: 16px;
      margin-bottom: 20px;
    }
  
    button {
      padding: 10px 20px;
      background-color: #333;
      color: white;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
    }
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
  }
  


  .product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.product-item {
  width: calc(40% - 10px);
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  background-color: #fff;

  &:hover {
    background-color: #f5f5f5;
  }

  .product-image {
    max-width: 100%;
    max-height: 190px;
    height: auto;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 10px;
  }

  
}
button {
    // background-color: #4caf50;
    
  background-color: #8B4513;

    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;

    &:hover {
    //   background-color: #45a049;
        background-color: #A0522D;
    }
  }

  .input-container {
    position: relative;
    width: 300px;
    margin-bottom: 20px;
  }
  
  .input-field {
    border: 1px solid #ccc;
    border-radius: 5px;
    position: fixed;
    right: 20px;
    top: 10%;
    font-size: 20px;
    padding: 20px;
    
  }  

  #order-summary-button{
  position: fixed;
  right: 20px;
  bottom: 50%;
  transform: translateY(50%);
  z-index: 9999;

  button{ 
    font-size: 24px;
    padding: 20px 40px;

  }
}

.categories {
    position: fixed;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
    h3 {
      font-size: 18px;
      margin-bottom: 10px;
    }
  
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  
    li {
      margin-bottom: 10px;
      cursor: pointer;
      color: #333;
      font-size: 14px;
      transition: color 0.2s;
  
      &:hover {
        color: #555;
      }
  
      &.active {
        font-weight: bold;
      }
    }
  }
  

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .site-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 300px;
    min-height: 200px;
    // background-color: #f7f7f7;
    //little brownier
    background-color: #e5ddd8;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1rem;
  }
  
  .button {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    background-color: #ff4500;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  
    &:hover {
      background-color: #e63b00;
    }
  }
  