.product-image{
    /* not big */
    width: 25%;
    height: 25%;

}

@keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  /* has two classes: x and y */
.bouncing
    {
    animation: bounce 0.5s;
  }