// komponent-motyw: kolorystyka
$background-light: white;
$background-dark: #02072F;
$text-light: black;
$text-dark: white;


  
$button-background-dark: rgb(52, 2, 2);
$button-text-dark: rgb(197, 197, 197);

@mixin darkMode {
    background-color: $background-dark;
    color: $text-dark;
  }
  
  @mixin lightMode {
    background-color: $background-light;
    color: $text-light;
  }
  